<mat-grid-list cols="3" rowHeight="1.5:2">
    <mat-grid-tile [colspan]="3" [style.background]="lightblue">
        <mat-card class="example-card">

            <!-- <mat-card-header style="justify-content: center">
              <mat-card-title>{{title}}</mat-card-title>
            </mat-card-header>
            
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Email" name="email" [(ngModel)]="currentUser.email" autofocus>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" name="password" [(ngModel)]="currentUser.password">
              </mat-form-field>
            </div> -->
            
            <mat-card-actions style="text-align: center">
              <button mat-raised-button color="primary" (click)="runBot()">Run Bot</button>
            </mat-card-actions>
          
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>